.login-container {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.login-side-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}


@media (min-width: 768px) {
    .login-container {
        min-height: 80%;
        flex-direction: row;
        max-width: 90%;
    }

    .login-side-container{
        width: 65%;
    }
}

@media (min-width: 1024px) {
    .login-container {
        max-width: 70%;
    }
}

@media (min-width: 1440px) {
    .login-container {
        max-width: 60%;
    }
}